<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container container-fluid">
        <div>
            <div class="navbar-brand navbar-left" style="color: white">
                Profile
            </div>
            <div class="navbar-brand navbar-right pull-right">
                <a href="#">
                    <span class="glyphicon glyphicon-ok ias-glyphicon">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container container-fluid">

    <label for="firstName">First Name</label>
    <input name="firstName"
           id="firstName"
           ng-model="model.user.firstName"
           class="form-control"
           placeholder="Goku"/>

    <label for="lastName">Last Name</label>
    <input name="lastName"
           id="lastName"
           ng-model="model.user.lastName"
           class="form-control"
           placeholder="Son"/>

    <label for="username">Username</label>
    <input name="username"
           id="username"
           ng-model="model.user.username"
           class="form-control"
           readonly
           value="Goku"/>

    <a class="btn btn-default btn-block btn-primary"
       href="#!/profile/{{model.user._id}}/website"
       role="button">Websites</a>

    <a class="btn btn-default btn-block btn-danger"
       href="#!/login"
       role="button">Logout</a>

</div>

<footer class="footer panel-footer ias-footer">
    <div class="container container-fluid">
        <ul class="list-unstyled">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</footer>
