<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container container-fluid">
        <div>
            <div class="navbar-brand navbar-left" style="color: white">
                <a>
                    <span ng-click="model.goBack()" class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                Search for Exercises
            </div>
        </div>
    </div>
</nav>

<div class="container container-fluid">

    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>

    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchExercise(searchText)"
               class="btn btn-default"
               type="button">
               <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <ul class="list-group">
        <li class="list-group-item ias-inverse">
            <div class="row">
                <div class="col-xs-3">Name</div>
                <div class="col-xs-8">Description</div>
                <div class="col-xs-1"></div>
            </div>
        </li>
        <li ng-repeat="exercise in model.exercises" class="list-group-item">
            <div class="row">
                <div class="col-xs-3">{{exercise.name}}</div>
                <div class="col-xs-8" ng-bind-html="model.trustHTMLContent(exercise.description)"></div>
                <div class="col-xs-1">
                    <a style="color:black"
                       ng-click="model.addExercise(exercise)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<footer class="footer panel-footer ias-footer">
    <div class="container container-fluid">
        <ul class="list-unstyled">
            <li><a href="#!/profile/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</footer>
