<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container container-fluid">
        <div>
            <div class="navbar-brand navbar-left" style="color: white">
                <a href="widget-list.html">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                Choose Widgets
            </div>
        </div>
    </div>
</nav>

<div class="container container-fluid">

    <ul class="list-group">
        <li class="list-group-item ias-inverse">
            <div class="row">
                <div class="col-xs-12">Name</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <a style="color:black">
                    <div ng-click="model.goToHeading()" class="col-xs-12">
                        Header
                    </div>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <a style="color:black">
                    <div ng-click="model.goToImage()" class="col-xs-12">
                        Image
                    </div>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <a style="color:black">
                    <div ng-click="model.goToYoutube()" class="col-xs-12">
                        YouTube
                    </div>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <a style="color:black">
                    <div ng-click="model.goToHTML()" class="col-xs-12">
                        HTML
                    </div>
                </a>
            </div>
        </li>
    </ul>

</div>

<footer class="footer panel-footer ias-footer">
    <div class="container container-fluid">
        <ul class="list-unstyled">
            <li><a href="#!/profile/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</footer>
