<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container container-fluid">
        <div>
            <div class="navbar-brand navbar-left" style="color: white">
                <a>
                    <span ng-click="model.goBack()"
                          class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                New Website
            </div>
            <div class="navbar-brand navbar-right pull-right">
                <a>
                    <span ng-click="model.createWebsite(website)"
                          class="glyphicon glyphicon-ok ias-glyphicon">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 visible-lg ias-split-view-left">

            <ul class="list-group">
                <li class="list-group-item ias-inverse">
                    <div class="row">
                        <div class="col-xs-10">Name</div>
                        <div class="col-xs-2">
                            <a style="color:white">
                                <span ng-click="model.goToNew()" class="pull-right glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">{{website.name}}</div>
                        <div class="col-xs-2">
                            <a style="color:black">
                                <span ng-click="model.goToEdit(website._id)" class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-9 ias-split-view-right">

            <div ng-show="model.errorMessage" class="alert alert-danger">
                {{model.errorMessage}}
            </div>

            <label for="name">Name</label>
            <input name="firstName"
                   ng-model="website.name"
                   placeholder="Instagram"
                   class="form-control"
                   id="name"/>

            <label for="description">Description</label>
            <textarea name="firstName"
                      ng-model="website.description"
                      rows="5"
                      placeholder="Social Media website based on pictures"
                      class="form-control"
                      id="description"></textarea>


            <a class="btn btn-default btn-primary btn-block"
               ng-click="model.createWebsite(website)"
               role="button">Create</a>

            <a class="btn btn-default btn-danger btn-block"
               ng-click="model.goBack()"
               role="button">Cancel</a>
        </div>
    </div>
</div>

<footer class="footer panel-footer ias-footer">
    <div class="container container-fluid">
        <ul class="list-unstyled">
            <li><a href="#!/profile/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</footer>
