<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container container-fluid">
        <div>
            <div class="navbar-brand navbar-left" style="color: white">
                <a>
                    <span ng-click="model.goBack()" class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                Edit Page
            </div>
            <div class="navbar-brand navbar-right pull-right">
                <a>
                    <span ng-click="model.createPage(page)" class="glyphicon glyphicon-ok ias-glyphicon">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 visible-lg ias-split-view-left">
            <ul class="list-group">
                <li class="list-group-item ias-inverse">
                    <div class="row">
                        <div class="col-xs-10">Name</div>
                        <div class="col-xs-2">
                            <a style="color:white">
                                <span ng-click="model.goToNew()" class="pull-right glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="page in model.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">{{page.name}}</div>
                        <div class="col-xs-2">
                            <a style="color:black">
                                <span ng-click="model.goToEdit(page._id)" class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-lg-9 ias-split-view-right">
            <label for="name">Name</label>
            <input name="name"
                   placeholder="Page Name"
                   ng-model="page.name"
                   class="form-control"
                   id="name"/>

            <label for="title">Description</label>
            <input name="title"
                   placeholder="Page Description"
                   ng-model="page.description"
                   class="form-control"
                   id="title"/>

            <a class="btn btn-default btn-primary btn-block"
               ng-click="model.createPage(page)"
               role="button">Confirm</a>

            <a class="btn btn-default btn-danger btn-block"
               ng-click="model.goBack()"
               role="button">Cancel</a>
        </div>
    </div>
</div>

<footer class="footer panel-footer ias-footer">
    <div class="container container-fluid">
        <ul class="list-unstyled">
            <li><a href="#!/profile/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</footer>
